<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%- pageTitle %></title>
  <link rel="shortcut icon" type="image/png" href="/img/logo/icon.png" />
  <link rel="stylesheet" href="/css-admin/styles.css" />
  <script src="/js/sweetalert2.all.min.js"></script>

</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
  <%- include('sidebar.ejs')%>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->
    <%- include('header.ejs')%>
    <!--  Header End -->
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Add Property</h5>
            <div class="card">
              <div class="card-body">
                <form id="property-data">

                  <div class="row">
                    <div style="width: 50%;" class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name">
                    </div>
                    <div style="width: 50%;" class="mb-3">
                      <label for="slug" class="form-label">Slug</label>
                      <input type="text" class="form-control" id="slug">
                    </div>
                  </div>

                  <div class="row">
                    <div style="width: 50%;" class="mb-3">
                      <label for="price" class="form-label">Price</label>
                      <input type="number" class="form-control" id="price"  >
                    </div>
                    <div style="width: 50%;" class="mb-3">
                      <label for="offer" class="form-label">Offer</label>
                      <input type="number" class="form-control" id="offer">
                    </div>
                  </div>

                  <div class="row">
                    <div style="width: 50%;" class="mb-3">
                      <label for="city" class="form-label">City</label>
                      <input type="text" class="form-control" id="city">
                    </div>

                    <div style="width: 50%;" class="mb-3">
                      <label for="area" class="form-label">Area</label>
                      <input type="text" class="form-control" id="area">
                    </div>

                  </div>

                  <div class="row">
                    <div style="width: 50%;" class="mb-3">
                      <label for="address" class="form-label">Address</label>
                      <input type="text" class="form-control" id="address">
                    </div>
                    <div style="width: 50%;" class="mb-3">
                      <label for="type" class="form-label">Type</label>
                      <select class="form-control" id="type">
                        <option value="apartment" >Apartment</option>
                        <option value="house">House</option>
                        <option value="villa">Villa</option>
                        <option value="office">Office</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div style="width: 33%;" class="mb-3">
                      <label for="rooms" class="form-label">Rooms</label>
                      <input type="text" class="form-control" id="rooms">
                    </div>
                    <div style="width: 33%;" class="mb-3">
                      <label for="salary" class="form-label">Bathrooms</label>
                      <input type="number" class="form-control" id="bathrooms">
                    </div>
                    <div style="width: 34%;" class="mb-3">
                      <label for="salary" class="form-label">Balaconies</label>
                      <input type="number" class="form-control" id="balconies">
                    </div>
                  </div>

                  <div class="row">
                    <div style="width: 33%;" class="mb-3">
                      <label for="rooms" class="form-label">Square Meters</label>
                      <input type="text" class="form-control" id="squareMeters">
                    </div>
                    <div style="width: 33%;" class="mb-3">
                      <label for="salary" class="form-label">Floor</label>
                      <input type="number" class="form-control" id="floor">
                    </div>

                    <div style="width: 34%;" class="mb-3">
                      <label for="martial-state" class="form-label">Duplex</label>
                      <select class="form-control" id="duplex">
                        <option value="true" >Duplex</option>
                        <option value="false" >Normal</option>
                      </select>
                    </div>

                  </div>

                  <div class="row">
                    <div style="width: 100%;" class="mb-3">
                      <label for="rooms" class="form-label">Description</label>
                      <input type="text" class="form-control" id="description">
                    </div>
                  </div>

                  <button id="dataBtn" class="btn btn-primary">Add Property</button>
                </form>
                <p id="message-response" style="display: none; color: red; text-align: center"></p>

              </div>
            </div>





          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/libs-admin/jquery/dist/jquery.min.js"></script>

<script src="/libs-admin/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js-admin/sidebarmenu.js"></script>
<script src="/js-admin/app.min.js"></script>
<script src="/js-admin/propertyPage.js"></script>
<script src="/libs-admin/simplebar/dist/simplebar.js"></script>

</body>

</html>