<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Summit Homes | Sign up</title>
    <link rel="shortcut icon" href="img/logo/icon.png" type="image/x-icon">
    <link href="css-admin/styles.css" rel="stylesheet"/>

    <script src="/js/sweetalert2.all.min.js"></script>

</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-10 col-lg-6 col-xxl-6">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="/" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="/img/logo/cropped black.png" width="250" alt="">
                            </a>
                            <p></p>
                            <form id="signup-form">

                                <div class="row">
                                    <div class="mb-3" style="width: 50%">
                                        <label for="name-id" class="form-label">Name</label>
                                        <input name="name" type="text" class="form-control" id="name-id"
                                               aria-describedby="textHelp">
                                    </div>

                                    <div style="width: 50%" class="mb-3">
                                        <label for="email-id" class="form-label">Email Address</label>
                                        <input name="email" type="email" class="form-control" id="email-id"
                                               aria-describedby="emailHelp">
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="mb-4" style="width: 50%">
                                        <label for="password-id" class="form-label">Password</label>
                                        <input name="password" type="password" class="form-control" id="password-id">
                                    </div>
                                    <div class="mb-4" style="width: 50%">
                                        <label for="password-confirm-id" class="form-label">Password
                                            Confirmation</label>
                                        <input name="password-confirm" type="password" class="form-control" id="password-confirm-id">
                                    </div>
                                </div>

                                <div class="row">
                                    <div style="width: 50%" class="mb-4">
                                        <label for="nationality-id" class="form-label">Nationality</label>
                                        <select name="nationality" id="nationality-id" class="form-control">
                                            <option value="Egyptian" selected>Egyptian</option>
                                            <option value="Non-Egyptian">Non-Egyptian</option>
                                        </select>
                                    </div>
                                    <div style="width: 50%" class="mb-4">
                                        <label for="SSN-id" class="form-label">National ID</label>
                                        <input name="ssn" type="number" class="form-control" id="SSN-id">
                                    </div>
                                </div>

                                <div class="row">
                                    <div style="width: 50%" class="mb-4">
                                        <label for="phone-number-id" class="form-label">Phone Number</label>
                                        <input name="phone-number" type="number" class="form-control" id="phone-number-id">
                                    </div>

                                    <div style="width: 50%" class="mb-4">
                                        <label for="date-of-birth-id" class="form-label">Date of Birth</label>
                                        <input name="date-birth" type="date" class="form-control" id="date-of-birth-id">
                                    </div>
                                </div>

                                <P id="error-message" style="display: none; text-align: center; color: red">Hello</P>

                                <a id="signup-btn" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</a>
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                                    <a class="text-primary fw-bold ms-2" href="/login">Login</a>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="libs-admin/jquery/dist/jquery.min.js"></script>
<script src="libs-admin/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/signup.js"></script>

</body>

</html>