<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%- pageTitle %></title>

    <link rel="shortcut icon" type="image/png" href="/img/logo/icon.png"/>
    <link rel="stylesheet" href="/css-admin/styles.min.css"/>

    <!-- Font awesome -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="/css/slick.css">
    <!-- price picker slider -->
    <link rel="stylesheet" type="text/css" href="/css/nouislider.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="/css/jquery.fancybox.css" type="text/css" media="screen"/>
    <!-- Theme color -->
    <link id="switcher" href="/css/theme-color/dark-red-theme.css" rel="stylesheet">
    <!-- Main style sheet -->
    <link href="/css/style.css" rel="stylesheet">

    <style>
        body {
            background-color: #8c0505;
        }
    </style>
</head>

<body>

<!-- Sidebar Start -->
<%- include('../website/navbar.ejs') %>
<!--  Sidebar End -->
<section id="aa-menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- LOGO -->
                <!-- Text based logo -->
                <!--          <a class="navbar-brand aa-logo" href="/"> Home <span>Property</span></a>-->
                <!-- Image based logo -->
                <a class="navbar-brand aa-logo-img" href="#"><img id="logo-img" src="/img/logo/cropped.png" alt="logo"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
                    <li><a href="/">HOME</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/properties">PROPERTIES <span
                                    class="caret"></span></a>

                    </li>
                    <li><a href="/gallery">GALLERY</a></li>
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="blog-archive.html">BLOG <span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="blog-archive.html">BLOG</a></li>
                            <li><a href="blog-single.html">BLOG DETAILS</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</section>

<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">


    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <!--      <%- include('header.ejs') %>-->
        <!--  Header End -->
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-semibold mb-4">Forms</h5>
                        <div class="card">
                            <div class="card-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                               aria-describedby="emailHelp">
                                        <div id="emailHelp" class="form-text">We'll never share your email with anyone
                                            else.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                        <h5 class="card-title fw-semibold mb-4">Disabled forms</h5>
                        <div class="card mb-0">
                            <div class="card-body">
                                <form>
                                    <fieldset disabled>
                                        <legend>Disabled fieldset example</legend>
                                        <div class="mb-3">
                                            <label for="disabledTextInput" class="form-label">Disabled input</label>
                                            <input type="text" id="disabledTextInput" class="form-control"
                                                   placeholder="Disabled input">
                                        </div>
                                        <div class="mb-3">
                                            <label for="disabledSelect" class="form-label">Disabled select menu</label>
                                            <select id="disabledSelect" class="form-select">
                                                <option>Disabled select</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       id="disabledFieldsetCheck" disabled>
                                                <label class="form-check-label" for="disabledFieldsetCheck">
                                                    Can't check this
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/libs-admin/jquery/dist/jquery.min.js"></script>

<script src="/libs-admin/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js-admin/sidebarmenu.js"></script>
<script src="/js-admin/app.min.js"></script>
<script src="/libs-admin/simplebar/dist/simplebar.js"></script>
</body>

</html>